<section class="container">
    <section id="navigation-bar">
        <nav>
            <a href=""></a><img class="logo" src="assets/img/logo.png" alt="LOGO">
            <ul>
                <section class="navigator">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">¿Quiénes Somos?</a></li>
                    <li><a href="">Misión</a></li>
                    <li><a href="">Visión</a></li>
                    <li><a href="">Nuestros productos</a></li>
                </section>
            </ul>
            
        </nav>
    </section>
</section>