:host {
    #container {
        width: 100%;
        display: inline-block;
    }

    /** HEADER */

    /** NAVIGATION BAR */
    nav {
        overflow: hidden;
        background-color: var(--havelockBlue);
        top: 0;
        width: 100%;

        .logo {
            text-decoration: none;
            width: 6%;
            display: flex;
            float: left;
        }

        ul {
            display: flex;
            justify-content: end;
            margin-top: 2%;

            li {
                display: inline-flex;
                font-size: 17px;
                color: white;
                align-items: center;
                justify-content: center;

                a {
                    text-decoration: none;
                    padding: 14px;

                    &:hover {
                        background-color: #153F59;
                        color: white;
                        transform: translateY(-10px);
                        box-shadow: 0px 44px 35px 0px rgb(150, 112, 224);
                    }
                }

            }
        }

       
    }
}