<section class="container">
    <section id="navigation-bar">
        <nav>
            <a href=""></a><img class="logo" src="assets/img/logo.png" alt="LOGO">
            <ul>
                <section class="navigator">
                    <li><a href="home">Inicio</a></li>
                    <li><a href="quienes">¿Quiénes Somos?</a></li>
                    <li><a href="mision">Misión</a></li>
                    <li><a href="vision">Visión</a></li>
                    <li><a href="productDetail">Nuestros productos</a></li>
                </section>
            </ul>
            <section class="menuHam">
                <div class="menu-bg"></div>
                <div class="menu-burger">☰</div>
                <div class="menu-items">
                    <li><a href="home">Inicio</a></li>
                    <li><a href="quienes">¿Quiénes Somos?</a></li>
                    <li><a href="mision">Misión</a></li>
                    <li><a href="vision">Visión</a></li>
                    <li><a href="productDetail">Nuestros productos</a></li>
                </div>
            </section>
        </nav>
    </section>

</section>