<header></header>
<section class="confirmationBox">
    <h1> Carrito de compras</h1>


    <table class="content__table">
        <thead class="content__th">
            <tr class="content__tr">
                <th>Producto</th>
                <th>Cantidad</th>
                <th>valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Sara</td>
                <td>23</td>
            </tr>
            <tr>
            <td>2</td>
            <td>Ernesto</td>
            <td>13</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Nuria</td>
                <td>11</td>
            </tr>
        </tbody>
    </table>

</section>
<h1> Carrito de compras</h1>

<footer></footer>