:host {

     //Definicion de medidas responsive
     @mixin mobileSuperSmall {
        @media only screen and (min-width: 211px) and (max-width: 295px) {
            @content;
        }
    }

    @mixin mobileSmall {
        @media only screen and (min-width: 296px) and (max-width: 361px) {
            @content;
        }
    }

    @mixin mobileMedium {
        @media only screen and (min-width: 362px) and (max-width: 599px) {
            @content;
        }
    }

    @mixin tablet {
        @media only screen and (min-width: 600px) and (max-width: 799px) {
            @content;
        }
    }

    @mixin desktop {
        @media only screen and (min-width: 800px) and (max-width: 992px) {
            @content;
        }
    }

    @mixin large {
        @media only screen and (min-width: 993px) and (max-width: 2000px) {
            @content;
        }
    }

    .footer {
        background-color: var(--cyan-blue);
        color: #999;
        font-size: 13px;
        display: flex;
        padding: 20px;

        .styledLinkContent {
            width: 6%;
            font-weight: 500;
            text-decoration: none;
            border-left: 3px solid #ffffff;

        }

        .location {
            display: flex;
            align-items: center;
            @include mobileSuperSmall {
                align-items: baseline;
            }
            @include mobileSmall {
                align-items: baseline;
            }
            @include mobileMedium {
                align-items: baseline;
            }
            line-height: 25px;
            @include mobileSuperSmall {
                width: 85%;
            }
            width: 53%;
            justify-content: center;
            flex-direction: column;

            p {
                font-size: 1rem;

                @include mobileSuperSmall {
                    font-size: 68%;
                }

                @include tablet {
                    font-size: 79%;
                }

                @include desktop {
                    font-size: 96%;
                }
            }
        }

        .farewell {
            display: flex;
            align-items: baseline;
            flex-direction: column;
            line-height: 25px;
        }
    }
}