<header></header>
<section id="general">
<div class="cart-confirmation">
    <a href="confirmation"><i class="fa-solid fa-cart-shopping fa-5x"></i></a>
</div>
<section class="cards-general">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus fa-2x"></i></a>
        </section>
	</div>
    <div class="card__content">
        <h4 id="nameProduct" class="nameProduct">Corta Cuticula</h4>
        <p class="description">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
        <h1>4.500</h1> <h2>unidad</h2>

    </div>
</section>
<section class="cards-left">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus fa-2x"></i></a>
        </section>
        
	</div>
    <div class="card__content" >
        <h4 class="nameProduct">Corta Cuticula</h4>
        <p class="description">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
    </div>
</section>
<section class="cards-general">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus fa-2x"></i></a>
        </section>
        
	</div>
    <div class="card__content">
        <h4 class="nameProduct">Corta Cuticula</h4>
        <p class="description">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
    </div>
</section>
<section class="cards-left">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus fa-2x"></i></a>
        </section>
        
	</div>
    <div class="card__content">
        <h4 class="nameProduct">Corta Cuticula</h4>
        <p class="description">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
    </div>
</section>
</section>
<footer></footer>