<header></header>
<section class="cards-general">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus"></i></a>
            <a><i class="fa-solid fa-circle-minus"></i></a>
        </section>
        
	</div>
    <div class="card__content">
        <h4 class="title">Corta Cuticula</h4>
        <p class="text">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
    </div>
</section>
<section class="cards-left">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus"></i></a>
            <a><i class="fa-solid fa-circle-minus"></i></a>
        </section>
        
	</div>
    <div class="card__content">
        <h4 class="title">Corta Cuticula</h4>
        <p class="text">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
    </div>
</section>
<section class="cards-general">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus"></i></a>
            <a><i class="fa-solid fa-circle-minus"></i></a>
        </section>
        
	</div>
    <div class="card__content">
        <h4 class="title">Corta Cuticula</h4>
        <p class="text">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
    </div>
</section>
<section class="cards-left">
	<div class="card">
        <img src="assets/img/cutter.JPG" alt="Imagen de Prueba">
        <section class="btn">
            <a><i class="fa-solid fa-circle-plus"></i></a>
            <a><i class="fa-solid fa-circle-minus"></i></a>
        </section>
        
	</div>
    <div class="card__content">
        <h4 class="title">Corta Cuticula</h4>
        <p class="text">consectetur adipiscing elit. Fusce nec arcu suscipit, pharetra nulla in, efficitur est. Etiam venenatis ultricies sem ac vulputate. Nullam et laoreet mauris. Aliquam et ligula tortor</p>
    </div>
</section>
<footer></footer>